<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
<connectionStrings><add name="DEMKA_GERBER" connectionString="metadata=res://*/MODELS.BD_DEMKA_1.csdl|res://*/MODELS.BD_DEMKA_1.ssdl|res://*/MODELS.BD_DEMKA_1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=acer-v3\SQLEXPRESS;initial catalog=PODGOTOVKA_DEM_EKZAMEN_MDK_04_01;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>